In [3]:
# prep: import modules and get pwd
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input
password = getpass.getpass()

········

In [4]:
# get the data
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)
query = '''SELECT f.film_id, r.inventory_id, r.rental_id, r.rental_date,  f.title, f.language_id, f.rental_duration, f.rental_rate, f.length, f.replacement_cost, f.rating, f.special_features, c.name
FROM rental r
INNER JOIN inventory i USING (inventory_id)
INNER JOIN film f USING (film_id)
INNER JOIN film_category fc USING (film_id)
INNER JOIN category c USING (category_id)
WHERE CONVERT(rental_date,DATE) BETWEEN '2005-05-01' AND '2005-05-31';'''

data = pd.read_sql_query(query, engine)
data.head()

,film_id,inventory_id,rental_id,rental_date,title,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,name
0,19,95,588,2005-05-28 12:08:37,AMADEUS HOLY,1,6,0.99,113,20.99,PG,"Commentaries,Deleted Scenes,Behind the Scenes",Action
1,21,102,207,2005-05-26 08:04:38,AMERICAN CIRCUS,1,3,4.99,129,17.99,R,"Commentaries,Behind the Scenes",Action
2,21,103,135,2005-05-25 21:58:58,AMERICAN CIRCUS,1,3,4.99,129,17.99,R,"Commentaries,Behind the Scenes",Action
3,29,142,1123,2005-05-31 16:48:43,ANTITRUST TOMATOES,1,5,2.99,168,11.99,NC-17,"Trailers,Commentaries,Deleted Scenes",Action
4,29,143,1134,2005-05-31 19:14:15,ANTITRUST TOMATOES,1,5,2.99,168,11.99,NC-17,"Trailers,Commentaries,Deleted Scenes",Action

In [5]:
data['title'].value_counts(dropna=False)

IDOLS SNATCHERS       5
BUCKET BROTHERHOOD    5
ROBBERS JOON          5
ROCKETEER MOTHER      4
PULP BEVERLY          4
                     ..
SHOOTIST SUPERFLY     1
SAVANNAH TOWN         1
QUEEN LUKE            1
NOTTING SPEAKEASY     1
INDIAN LOVE           1
Name: title, Length: 686, dtype: int64

In [6]:
data.shape

(1156, 13)

In [7]:
data.isna().sum()

film_id             0
inventory_id        0
rental_id           0
rental_date         0
title               0
language_id         0
rental_duration     0
rental_rate         0
length              0
replacement_cost    0
rating              0
special_features    0
name                0
dtype: int64

In [8]:
data1 = pd.read_sql('SELECT language_id, name FROM language', engine)
data1.head(60)

   language_id      name
0            1   English
1            2   Italian
2            3  Japanese
3            4  Mandarin
4            5    French
5            6    German

In [9]:
data = pd.DataFrame.merge(data,data1,on='language_id')
data.head(60)

,film_id,inventory_id,rental_id,rental_date,title,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,name_x,name_y
0,19,95,588,2005-05-28 12:08:37,AMADEUS HOLY,1,6,0.99,113,20.99,PG,"Commentaries,Deleted Scenes,Behind the Scenes",Action,English
1,21,102,207,2005-05-26 08:04:38,AMERICAN CIRCUS,1,3,4.99,129,17.99,R,"Commentaries,Behind the Scenes",Action,English
2,21,103,135,2005-05-25 21:58:58,AMERICAN CIRCUS,1,3,4.99,129,17.99,R,"Commentaries,Behind the Scenes",Action,English
3,29,142,1123,2005-05-31 16:48:43,ANTITRUST TOMATOES,1,5,2.99,168,11.99,NC-17,"Trailers,Commentaries,Deleted Scenes",Action,English
4,29,143,1134,2005-05-31 19:14:15,ANTITRUST TOMATOES,1,5,2.99,168,11.99,NC-17,"Trailers,Commentaries,Deleted Scenes",Action,English
5,56,249,300,2005-05-26 20:57:00,BAREFOOT MANCHURIAN,1,6,2.99,129,15.99,G,"Trailers,Commentaries",Action,English
6,67,299,835,2005-05-29 23:37:00,BERETS AGENT,1,5,2.99,77,24.99,PG-13,Deleted Scenes,Action,English
7,97,441,800,2005-05-29 17:28:12,BRIDE INTRIGUE,1,7,0.99,56,24.99,G,"Trailers,Commentaries,Behind the Scenes",Action,English
8,111,497,1057,2005-05-31 07:58:06,CADDYSHACK JEDI,1,3,0.99,52,17.99,NC-17,"Commentaries,Deleted Scenes",Action,English
9,111,500,700,2005-05-29 02:18:54,CADDYSHACK JEDI,1,3,0.99,52,17.99,NC-17,"Commentaries,Deleted Scenes",Action,English
10,115,522,1073,2005-05-31 09:55:04,CAMPUS REMEMBER,1,5,2.99,167,27.99,R,Behind the Scenes,Action,English
11,126,578,860,2005-05-30 02:45:16,CASUALTIES ENCINO,1,3,4.99,179,16.99,G,Trailers,Action,English
12,130,595,595,2005-05-28 13:59:54,CELEBRITY HORN,1,7,0.99,110,24.99,PG-13,"Deleted Scenes,Behind the Scenes",Action,English
13,130,597,459,2005-05-27 20:00:04,CELEBRITY HORN,1,7,0.99,110,24.99,PG-13,"Deleted Scenes,Behind the Scenes",Action,English
14,130,599,598,2005-05-28 14:04:50,CELEBRITY HORN,1,7,0.99,110,24.99,PG-13,"Deleted Scenes,Behind the Scenes",Action,English
15,162,739,651,2005-05-28 19:46:50,CLUELESS BUCKET,1,4,2.99,95,13.99,R,"Trailers,Deleted Scenes,Behind the Scenes",Action,English
16,162,742,689,2005-05-29 00:46:53,CLUELESS BUCKET,1,4,2.99,95,13.99,R,"Trailers,Deleted Scenes,Behind the Scenes",Action,English
17,205,924,1099,2005-05-31 13:54:48,DANCES NONE,1,3,0.99,58,22.99,NC-17,"Trailers,Commentaries,Deleted Scenes,Behind th...",Action,English
18,210,946,340,2005-05-27 03:55:25,DARKO DORADO,1,3,4.99,130,13.99,NC-17,"Trailers,Commentaries,Deleted Scenes,Behind th...",Action,English
19,212,952,125,2005-05-25 20:48:50,DARN FORRESTER,1,7,4.99,185,14.99,G,Deleted Scenes,Action,English
20,229,1025,1051,2005-05-31 07:02:09,DEVIL DESIRE,1,6,4.99,87,12.99,R,"Trailers,Behind the Scenes",Action,English
21,252,1137,1111,2005-05-31 15:24:19,DREAM PICKUP,1,6,2.99,135,18.99,PG,"Trailers,Commentaries,Behind the Scenes",Action,English
22,252,1139,55,2005-05-25 08:26:13,DREAM PICKUP,1,6,2.99,135,18.99,PG,"Trailers,Commentaries,Behind the Scenes",Action,English
23,253,1144,621,2005-05-28 15:58:12,DRIFTER COMMANDMENTS,1,5,4.99,61,18.99,PG-13,"Trailers,Behind the Scenes",Action,English
24,253,1146,749,2005-05-29 09:33:33,DRIFTER COMMANDMENTS,1,5,4.99,61,18.99,PG-13,"Trailers,Behind the Scenes",Action,English
25,271,1221,276,2005-05-26 17:16:07,EASY GLADIATOR,1,5,4.99,148,12.99,G,"Trailers,Commentaries,Behind the Scenes",Action,English
26,271,1222,623,2005-05-28 16:01:28,EASY GLADIATOR,1,5,4.99,148,12.99,G,"Trailers,Commentaries,Behind the Scenes",Action,English
27,271,1225,27,2005-05-25 03:41:50,EASY GLADIATOR,1,5,4.99,148,12.99,G,"Trailers,Commentaries,Behind the Scenes",Action,English
28,287,1300,602,2005-05-28 14:15:54,ENTRAPMENT SATISFACTION,1,5,0.99,176,19.99,R,"Commentaries,Deleted Scenes,Behind the Scenes",Action,English
29,287,1303,77,2005-05-25 11:31:59,ENTRAPMENT SATISFACTION,1,5,0.99,176,19.99,R,"Commentaries,Deleted Scenes,Behind the Scenes",Action,English
30,292,1321,234,2005-05-26 11:47:20,EXCITEMENT EVE,1,3,0.99,51,20.99,G,Commentaries,Action,English
31,303,1380,581,2005-05-28 11:20:29,FANTASY TROOPERS,1,6,0.99,58,27.99,PG-13,Behind the Scenes,Action,English
32,303,1381,832,2005-05-29 22:51:20,FANTASY TROOPERS,1,6,0.99,58,27.99,PG-13,Behind the Scenes,Action,English
33,303,1382,659,2005-05-28 20:27:53,FANTASY TROOPERS,1,6,0.99,58,27.99,PG-13,Behind the Scenes,Action,English
34,303,1383,717,2005-05-29 04:37:44,FANTASY TROOPERS,1,6,0.99,58,27.99,PG-13,Behind the Scenes,Action,English
35,327,1494,565,2005-05-28 09:26:31,FOOL MOCKINGBIRD,1,3,4.99,158,24.99,PG,"Trailers,Commentaries",Action,English
36,327,1496,1128,2005-05-31 17:49:26,FOOL MOCKINGBIRD,1,3,4.99,158,24.99,PG,"Trailers,Commentaries",Action,English
37,329,1505,213,2005-05-26 08:44:08,FORREST SONS,1,4,2.99,63,15.99,R,Commentaries,Action,English
38,360,1648,635,2005-05-28 17:46:57,GLASS DYING,1,4,0.99,103,24.99,G,Trailers,Action,English
39,360,1649,373,2005-05-27 08:16:25,GLASS DYING,1,4,0.99,103,24.99,G,Trailers,Action,English
40,375,1720,752,2005-05-29 10:14:15,GRAIL FRANKENSTEIN,1,4,2.99,85,17.99,NC-17,"Commentaries,Deleted Scenes,Behind the Scenes",Action,English
41,375,1721,243,2005-05-26 13:06:05,GRAIL FRANKENSTEIN,1,4,2.99,85,17.99,NC-17,"Commentaries,Deleted Scenes,Behind the Scenes",Action,English
42,395,1816,778,2005-05-29 14:09:53,HANDICAP BOONDOCK,1,4,0.99,108,28.99,R,"Commentaries,Deleted Scenes,Behind the Scenes",Action,English
43,395,1817,525,2005-05-28 04:25:33,HANDICAP BOONDOCK,1,4,0.99,108,28.99,R,"Commentaries,Deleted Scenes,Behind the Scenes",Action,English
44,395,1818,549,2005-05-28 07:35:37,HANDICAP BOONDOCK,1,4,0.99,108,28.99,R,"Commentaries,Deleted Scenes,Behind the Scenes",Action,English
45,395,1819,880,2005-05-30 06:12:33,HANDICAP BOONDOCK,1,4,0.99,108,28.99,R,"Commentaries,Deleted Scenes,Behind the Scenes",Action,English
46,417,1919,780,2005-05-29 14:18:32,HILLS NEIGHBORS,1,5,0.99,93,29.99,G,"Trailers,Commentaries,Deleted Scenes,Behind th...",Action,English
47,417,1920,430,2005-05-27 16:22:10,HILLS NEIGHBORS,1,5,0.99,93,29.99,G,"Trailers,Commentaries,Deleted Scenes,Behind th...",Action,English
48,417,1921,963,2005-05-30 18:52:53,HILLS NEIGHBORS,1,5,0.99,93,29.99,G,"Trailers,Commentaries,Deleted Scenes,Behind th...",Action,English
49,417,1922,646,2005-05-28 19:16:14,HILLS NEIGHBORS,1,5,0.99,93,29.99,G,"Trailers,Commentaries,Deleted Scenes,Behind th...",Action,English
50,501,2305,984,2005-05-30 22:17:17,KISSING DOLLS,1,3,4.99,141,9.99,R,Trailers,Action,English
51,501,2306,163,2005-05-26 02:26:23,KISSING DOLLS,1,3,4.99,141,9.99,R,Trailers,Action,English
52,530,2428,249,2005-05-26 14:19:09,LORD ARIZONA,1,5,2.99,108,27.99,PG-13,Trailers,Action,English
53,574,2617,974,2005-05-30 20:28:42,MIDNIGHT WESTWARD,1,3,0.99,86,19.99,G,"Trailers,Deleted Scenes",Action,English
54,579,2638,40,2005-05-25 05:09:04,MINDS TRUMAN,1,3,4.99,149,22.99,PG-13,"Deleted Scenes,Behind the Scenes",Action,English
55,586,2671,448,2005-05-27 19:03:08,MOCKINGBIRD HOLLYWOOD,1,4,0.99,60,27.99,PG,Behind the Scenes,Action,English
56,659,3005,503,2005-05-28 01:35:25,PARK CITIZEN,1,3,4.99,109,14.99,PG-13,"Trailers,Deleted Scenes",Action,English
57,664,3024,319,2005-05-26 23:52:13,PATRIOT ROMAN,1,6,2.99,65,12.99,PG,"Trailers,Deleted Scenes",Action,English
58,717,3259,1137,2005-05-31 19:20:14,REAR TRADING,1,6,0.99,97,23.99,NC-17,"Trailers,Commentaries,Deleted Scenes",Action,English
59,717,3260,893,2005-05-30 08:06:59,REAR TRADING,1,6,0.99,97,23.99,NC-17,"Trailers,Commentaries,Deleted Scenes",Action,English

In [10]:
pd.set_option('display.max_columns', None)
display(data.dtypes)

film_id                      int64
inventory_id                 int64
rental_id                    int64
rental_date         datetime64[ns]
title                       object
language_id                  int64
rental_duration              int64
rental_rate                float64
length                       int64
replacement_cost           float64
rating                      object
special_features            object
name_x                      object
name_y                      object
dtype: object

In [11]:
data=data.drop(columns=['film_id', 'inventory_id', 'rental_id', 'language_id', 'rental_date'])

In [12]:
data.head()

,title,rental_duration,rental_rate,length,replacement_cost,rating,special_features,name_x,name_y
0,AMADEUS HOLY,6,0.99,113,20.99,PG,"Commentaries,Deleted Scenes,Behind the Scenes",Action,English
1,AMERICAN CIRCUS,3,4.99,129,17.99,R,"Commentaries,Behind the Scenes",Action,English
2,AMERICAN CIRCUS,3,4.99,129,17.99,R,"Commentaries,Behind the Scenes",Action,English
3,ANTITRUST TOMATOES,5,2.99,168,11.99,NC-17,"Trailers,Commentaries,Deleted Scenes",Action,English
4,ANTITRUST TOMATOES,5,2.99,168,11.99,NC-17,"Trailers,Commentaries,Deleted Scenes",Action,English

In [13]:
data.columns = ['title', 'rental_duration', 'rental_rate', 'length','replacement_cost', 'rating', 'special_features','category', 'language']

In [14]:
data['rental_duration'].unique()

array([6, 3, 5, 7, 4], dtype=int64)

In [15]:
data['rental_duration'] = data['rental_duration'].astype('object') # This will be treated as categorical

In [16]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
rental_rate,1156.0,2.931176,1.667619,0.99,0.99,2.99,4.99,4.99
length,1156.0,114.993080,40.167290,46.00,82.00,113.00,149.00,185.00
replacement_cost,1156.0,20.312664,6.157152,9.99,14.99,20.99,25.99,29.99

### 2.question

#### Create a query to get the list of films and a boolean indicating if it was rented last month (August 2005). This would be our target variable.

In [23]:
query2 = '''SELECT f.film_id, r.inventory_id, r.rental_id, r.rental_date,  f.title, f.language_id, f.rental_duration, f.rental_rate, f.length, f.replacement_cost, f.rating, f.special_features, c.name,
CASE 
WHEN DATE(rental_date)
BETWEEN '2005-05-01' AND '2005-05-31'
THEN True
ELSE False
END AS day_type
FROM rental r
INNER JOIN inventory i USING (inventory_id)
INNER JOIN film f USING (film_id)
INNER JOIN film_category fc USING (film_id)
INNER JOIN category c USING (category_id)
GROUP BY f.title;'''

data_all = pd.read_sql_query(query2, engine)
data_all.shape
data_all.head()

,film_id,inventory_id,rental_id,rental_date,title,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,name,day_type
0,19,93,10895,2005-08-02 01:16:59,AMADEUS HOLY,1,6,0.99,113,20.99,PG,"Commentaries,Deleted Scenes,Behind the Scenes",Action,0
1,21,102,207,2005-05-26 08:04:38,AMERICAN CIRCUS,1,3,4.99,129,17.99,R,"Commentaries,Behind the Scenes",Action,1
2,29,142,1123,2005-05-31 16:48:43,ANTITRUST TOMATOES,1,5,2.99,168,11.99,NC-17,"Trailers,Commentaries,Deleted Scenes",Action,1
3,56,248,3309,2005-06-21 08:00:49,BAREFOOT MANCHURIAN,1,6,2.99,129,15.99,G,"Trailers,Commentaries",Action,0
4,67,294,3946,2005-07-06 21:39:24,BERETS AGENT,1,5,2.99,77,24.99,PG-13,Deleted Scenes,Action,0

In [24]:
data_all = pd.DataFrame.merge(data_all,data1,on='language_id')
data_all.head()

,film_id,inventory_id,rental_id,rental_date,title,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,name_x,day_type,name_y
0,19,93,10895,2005-08-02 01:16:59,AMADEUS HOLY,1,6,0.99,113,20.99,PG,"Commentaries,Deleted Scenes,Behind the Scenes",Action,0,English
1,21,102,207,2005-05-26 08:04:38,AMERICAN CIRCUS,1,3,4.99,129,17.99,R,"Commentaries,Behind the Scenes",Action,1,English
2,29,142,1123,2005-05-31 16:48:43,ANTITRUST TOMATOES,1,5,2.99,168,11.99,NC-17,"Trailers,Commentaries,Deleted Scenes",Action,1,English
3,56,248,3309,2005-06-21 08:00:49,BAREFOOT MANCHURIAN,1,6,2.99,129,15.99,G,"Trailers,Commentaries",Action,0,English
4,67,294,3946,2005-07-06 21:39:24,BERETS AGENT,1,5,2.99,77,24.99,PG-13,Deleted Scenes,Action,0,English

In [ ]:
data_all=data_all.drop(columns=['film_id', 'inventory_id', 'rental_id', 'language_id', 'rental_date', 'rental_duration', 'replacement_cost', 'rental_rate'])
data_all.head()

In [ ]:
# data_all['rental_duration'] = data_all['rental_duration'].astype('object') # This will be treated as categorical
# data_all['target_col'] = data_all['target_col'].astype('object')
data_all.shape
data_all.head()

In [ ]:
#data['special_features'].value_counts(dropna=False)

In [ ]:
data_all.columns = ['title', 'length', 'rating', 'special_features','category', 'target_col', 'language']

In [ ]:
# import matplotlib.pyplot as plt
# import seaborn as sns 
# correlations_matrix = data_all.corr()   
# correlations_matrix

# #heatmap
# sns.heatmap(correlations_matrix, annot=True)
# plt.show()
# # there is no multicollinearity

In [ ]:
# # look at the scale and distribution of values
# sns.displot(data_all['rental_rate'])
# plt.show()

# sns.displot(data_all['length'])
# plt.show()

# sns.displot(data_all['replacement_cost'])
# plt.show()

### X-y split

In [ ]:
# Build X and y
y = data_all['target_col']
X = data_all.drop(['target_col'], axis=1)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler
# from sklearn.preprocessing import StandardScaler

X_train_num = X_train.select_dtypes(include = np.number)

# Scaling data
transformer = MinMaxScaler().fit(X_train_num) # need to keep transformer
X_train_normalized = transformer.transform(X_train_num)
X_train_norm = pd.DataFrame(X_train_normalized)

In [ ]:
X_train.columns = X_train.columns
X_train.head(10)

In [ ]:
X_train_categorical = X_train.select_dtypes(include = np.object)
X_train_categorical.head()

In [ ]:
X_train_norm.columns = X_train_num.columns
X_train_norm.head()

In [ ]:
X_train_categorical.columns

In [ ]:
X_train_categorical = X_train.select_dtypes(include = np.object)
X_train_cat = pd.get_dummies(X_train_categorical, 
                             columns=['title', 'rating', 'special_features', 'category', 'language'],
                             drop_first=True)
X_train_cat.head()

In [ ]:
X_train_transformed = np.concatenate([X_train_norm, X_train_cat], axis=1)

In [ ]:
from sklearn.linear_model import LogisticRegression
classification = LogisticRegression(random_state=1234, solver='lbfgs')
classification.fit(X_train_transformed, y_train)
# classification = LogisticRegression(random_state=0, solver='saga',
#                   multi_class='multinomial').fit(X_train_transformed, y_train)

In [ ]:
# for numericals
X_test_num = X_test.select_dtypes(include = np.number)

# Scaling data
# we use the transformer that was trained on the training data
X_test_normalized = transformer.transform(X_test_num)
X_test_norm = pd.DataFrame(X_test_normalized)

In [ ]:
# for categoricals
X_test_categorical = X_test.select_dtypes(include = np.object)
X_test_cat = pd.get_dummies(X_test_categorical, 
                            columns=['title', 'rating', 'special_features', 'category', 'language'],
                            drop_first=True)
X_test_cat.head()

In [ ]:
X_test_transformed = np.concatenate([X_test_norm, X_test_cat], axis=1)

In [ ]:
# Now we can make predictions on the test set:
predictions = classification.predict(X_test_transformed)
classification.score(X_test_transformed, y_test)

In [ ]:
print(y_test.value_counts())
# As you would notice here, there is a huge imbalance in the data among the different classes. 
# We will talk more about imbalance and how to resolve it later (tomorrow)

In [ ]:
pd.Series(predictions).value_counts()
# This shows that the disparity in the numbers are amplified by the model

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

In [ ]:
# bonus: KNN classifier: look at nearest neighbours and use the majority to determine class
from sklearn import neighbors
clf = neighbors.KNeighborsClassifier(n_neighbors=5, weights='uniform')
clf.fit(X_train_transformed, y_train)
predictions_clf = clf.predict(X_test_transformed)
clf.score(X_test_transformed, y_test)

In [ ]:
confusion_matrix(y_test, predictions_clf)